<div id="info-header">
    <img id="myImage" src="assets/img.png">
    <h2 id="desc">Willkommen in der DangerZone!!</h2>
</div>

<div style="display: flex; justify-content: center">
    <h4 id="trips-text">Entdecken Sie unsere Trips:</h4>
</div>

<div id="card-wrapper">
    <div class="card">
        <img class="card-img-top" src="assets/shark.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Mit Haien tauchen</h5>
            <p class="card-text">Tauche mit Haien in einem Käfig im atlantischen Ozean.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/wing.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Wingsuit</h5>
            <p class="card-text">In den Alpen werden sie sich fühlen wie Superman.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/rope.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Seiltanzen</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/bear.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Bären Wrestling</h5>
            <p class="card-text">Wollten Sie auch schon immer mal mit einem Bären kämpfen? Wir auch und deshalb machen wir es jetzt möglich!</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/korea.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Nordkorea Reise</h5>
            <p class="card-text">Eine Reise ins Propaganda Märchen. Entdecken sie neue Kulturen und neue Menschen.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/earth.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Reise in den Erdkern</h5>
            <p class="card-text">Wir haben dank unserer patentierten Earthtunnel Technologie die möglichkeit geschaffen tiefer in die Erde zu reisen als jemals zuvor.
                Lassen sie sich von Magma und Hitze faszinieren.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/desert.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Paintball mit echten Waffen</h5>
            <p class="card-text">Paintball ist zu langweilig? Dir fehlt der nervenkitzel? Steig ein bei unserem Programm!</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/czern.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Chernobyl</h5>
            <p class="card-text">Entdecken Sie das schöne Chernobyl und kommen Sie strahlend glücklich zurück!</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/ever.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Mount Everest besteigen</h5>
            <p class="card-text">Klettern Sie gerne auf Hügeln? Warum nicht gleich Hügel durchspielen und auf den größten gehen.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/chicken.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Menschen Essen</h5>
            <p class="card-text">Tastes just like chicken!</p>
        </div>
    </div>
</div>
