#info-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#myImage {
}

#trips-text {
    margin-bottom: 0;
    width: 92%;
    border-bottom: 2px solid black;
}

#card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 350px;
    min-height: 400px;
    padding: 20px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-img-top {
    height: 250px;
}