<div id="info-header">
    <img id="myImage" src="assets/img.png">
    <h2 id="desc">Willkommen in der DangerZone!!</h2>
</div>

<table class="table table-striped">
    <thead>
    <tr>

        <th scope="col">name</th>
        <th scope="col">Picture</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>tripp 1</td>
        <td>foto1</td>
    </tr>
    <tr>
        <td>tripp 1</td>
        <td>foto1</td>
    </tr>
    <tr>
        <td>tripp 1</td>
        <td>foto1</td>
    </tr>
    <tr>
        <td>tripp 1</td>
        <td>foto1</td>
    </tr>
    <tr>
        <td>tripp 1</td>
        <td>foto1</td>
    </tr>
    <tr>
        <td>tripp 1</td>
        <td>foto1</td>
    </tr>
    <tr>
        <td>tripp 1</td>
        <td>foto1</td>
    </tr>
    <tr>
        <td>tripp 1</td>
        <td>foto1</td>
    </tr>
    <tr>
        <td>tripp 1</td>
        <td>foto1</td>
    </tr>
    <tr>
        <td>tripp 1</td>
        <td>foto1</td>
    </tr>
    </tbody>
</table>