#info-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#myImage {
}

#trips-text {
    margin-bottom: 0;
    width: 92%;
    border-bottom: 2px solid black;
}

#card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

