<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="fw-light">Willkommen in der danger Zone</h1>
                <p class="lead">created by NYA-ZONE</p>
                <span>10 Geschenkideen: Entdecke für jeden Erlebnistyp die richtige Portion Nervenkitzel!
  Stöbere durch unsere vielseitigen Trips und finde spielend leicht für jeden Anlass das passende Geschenk. Ob zum Geburtstag, Jubiläum oder zu Weihnachten, hier ist immer die passende Geschenkidee dabei!

  Entdecke aufregende Action-Abenteuer .

  Es darf auch gerne etwas entspannter sein? Dann schenke eine Auszeit vom Alltag mit einem unvergesslichen Kurzurlaub, einer Städtereise, die für immer in Erinnerung bleibt! Mit einer einzigartigen Geschenkidee von DangerZone landest du garantiert einen Volltreffer.

  Denn die besten Geschenke sind ganz klar Erlebnisse, die für immer in Erinnerung bleiben!</span>
            </div>
        </div>
    </div>
</header>


